<main class="m-5">
  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>3 title one time</h3>

  <hr class="m-5">

  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-5'> Second</div>
  <div class='display-6'>3 title</div>

  <hr class="m-3">

  <div class='text-muted text-end'>Text</div>

  <hr class="m-5">

  <button class='btn btn-primary'>
    <span class='text-uppercase'>Button primary</span>
    <h1>Text</h1>
  </button>

  <hr class="m-4">

     <button class='btn btn-primary'>Button</button>

  <hr class="m-4">

  <a href='#' class='btn btn-primary'>Button primary</a>

  <hr class="m-4">

  <p class='text-primary'>My text</p>
  <p class='text-muted'>My text</p>

  <hr class="m-4">
   <div class='card'>
    <div class='card-body'>
  <button class='btn btn-primary'>My button</button>
  <button class='btn btn-outline-secondary'>Remark</button>
  <button
    class='btn btn-outline-dark btn-sm'
  >Delete</button>

  <hr class="m-4">

  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>
</main>