<div class="m-5">
  <h1>{{name}}</h1>
  <h3>Users</h3>
  {{#each users}}
   {{> about}}
    <ul>
      <h3>Friends</h3>
      {{#each friends}}
       {{> about}}
        <ul>
          <h3>Mutual Friends</h3>
          {{#each mutual_friends}}
            <br />
            <ul>
             {{> info}}
            </ul>
          {{/each}}
        </ul>
      {{/each}}
    </ul>
    <hr class="m-5">
    <ul>
      <h3>Groups</h3>
      {{#each groups}}
        <ul>
         {{> interest}}
          <ul>
            {{#each members}}
              <br />
            {{> info}}
            {{/each}}
          </ul>
        </ul>
      {{/each}}
    </ul>

    <ul class="m-5">
      {{> info}}
      {{#each friends}}
        <ul class="mx-5">
         {{> info}}
          {{#each mutual_friends}}
            <ul>
              <br />
              {{> info}}
              <ul class="m-5">
               
                {{#each mutual_friends}}
                 
                 {{> info}}
                {{/each}}
              </ul>
            </ul>
          {{/each}}
          <div class="m-5">
          {{#each groups}}
            <ul>
             {{> interest}}
              <ul>
                {{#each members}}
                  <div class="m-5">
                 {{> info}}
                 </div>
                {{/each}}
              </ul>
            </ul>
          {{/each}}
        </ul>
      {{/each}}
    </ul>
  {{/each}}
  </div>
</div>