<main class='m-3'>
  <div class='m-5'>
    <h5>Page list:</h5>
    <h3 class='text-center'>Resume-Pet</h3>
  </div>

  <div class='m-3'>
    <a
      href='/summary'
      class='btn btn-primary col-3'
    >Summary</a>
  </div>

  <div class='m-3'>
    <a
      href='/skills'
      class='btn btn-primary col-3'
    >Skills</a>
  </div>

  <div class='m-3'>
    <a href='/car' class='btn btn-primary col-3'>Car</a>
  </div>

  <div class='m-3'>
    <a href='/mac' class='btn btn-primary col-3'>Mac</a>
  </div>

  <div class='m-3'>
    <a
      href='/education'
      class='btn btn-primary col-3'
    >Education</a>
  </div>

  <div class='m-3'>
    <a
      href='/facebook'
      class='btn btn-primary col-3'
    >Facebook</a>
  </div>

  <div class='m-3'>
    <a href='/js' class='btn btn-primary col-3'>JS</a>
  </div>

  <div class='m-3'>
    <a
      href='/shopcart'
      class='btn btn-primary col-3'
    >Shopcart</a>
  </div>

  <div class='m-3'>
    <a
      href='/shopcatalog'
      class='btn btn-primary col-3'
    >Shopcatalog</a>
  </div>

  <div class='m-3'>
    <a
      href='/shophome'
      class='btn btn-primary col-3'
    >Shophome</a>
  </div>

  <div class='m-3'>
    <a
      href='/shoporder'
      class='btn btn-primary col-3'
    >Shoporder</a>
  </div>

  <div class='m-3'>
    <a
      href='/shoppnews'
      class='btn btn-primary col-3'
    >shoppnews</a>
  </div>

  <div class='m-3'>
    <a
      href='/shopprofile'
      class='btn btn-primary col-3'
    >Shopprofile</a>
  </div>

  <div class='m-3'>
    <a
      href='/shopreview'
      class='btn btn-primary col-3'
    >Shopreview</a>
  </div>

  <div class='m-3'>
    <a
      href='/task21'
      class='btn btn-primary col-3'
    >Task21</a>
  </div>

  <div class='m-3'>
    <a
      href='/task22'
      class='btn btn-primary col-3'
    >Task22</a>
  </div>

  <div class='m-3'>
    <a
      href='/task31'
      class='btn btn-primary col-3'
    >Task31</a>
  </div>

  <div class='m-3'>
    <a href='/work' class='btn btn-primary col-3'>Work</a>
  </div>

  <div class='m-3'>
    <a
      href='/shopproduct'
      class='btn btn-primary col-3'
    >Shopproduct</a>
  </div>

  <div class='m-3'>
    <a href='/person' class='btn btn-primary col-3'>Bio</a>
  </div>

</main>