<div class='col-6 g-4'>
  <div>
    <label class='form-label'>{{label}}</label>
    <input
      placeholder='{{placeholder}}'
      class='form-control'
    />
    <div class='form-text'>{{caption}}</div>
  </div>
</div>