     <footer>   
        <div class="card-footer row col-10 m-3">
        {{#each footer}}
          <div class="col-2 flex-column">
            <ul class="nav">
               {{#each this}}
               <li>       
                  <a class="nav-link" {{#if @last}}disabled{{/if}} href="{{this.link}}">{{this.text}}</a>
               </li>
               {{/each}}
            </ul>
          </div>
        {{/each}}
        </div>
       </footer>